In [1]:
import pandas as pd

# import data
df_kelurahan = pd.read_excel('../data/all_agg_kelurahan.xlsx')
df_kelurahan

,OBJECTID,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,luas_permukiman_m2,luas_ind_m2,luas_taman_m2,jumlah_pickup,jumlah_dropoff,populasi
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,453868.513702,103189.533290,26735.491702,34.0,95,18493
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,387240.967700,27236.466276,18450.637740,259.0,140,19991
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,370371.688708,102444.832584,6194.728996,210.0,123,18877
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,307061.400989,17803.194836,3970.303710,39.0,52,10617
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,244630.989086,226828.903288,9669.700015,980.0,579,13277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,480580.148948,44817.001673,10291.838230,11.0,16,16969
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,612986.715864,0.000000,5353.556805,4.0,5,20705
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,464312.683460,18697.063212,2487.161216,18.0,29,17112
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,473412.673729,6716.382812,79935.559395,4.0,8,17767
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,477321.603817,3565.428597,14881.814630,2.0,2,9209

In [2]:
kolom_hapus = ['luas_permukiman_m2', 'luas_ind_m2', 'luas_taman_m2']
df_kelurahan.drop(kolom_hapus, axis=1, inplace=True)

In [3]:
df_kelurahan

,OBJECTID,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,34.0,95,18493
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,259.0,140,19991
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,210.0,123,18877
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,39.0,52,10617
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,980.0,579,13277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,11.0,16,16969
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,4.0,5,20705
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,18.0,29,17112
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,4.0,8,17767
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,2.0,2,9209

In [4]:
# import data
df_residen = pd.read_excel('../data/resident_bdg.xlsx')
df_residen

/home/peminumyakult/anaconda3/envs/suapp/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,OBJECTID,SNI2014,Shape_Length,Shape_Area,sum_Area_SQUAREKILOMETERS,Polygon_Count
0,1,Ancol,0.409631,0.000047,0.265191,2485
1,2,Antapani Kidul,0.851564,0.000078,0.130590,1454
2,3,Antapani Kulon,0.273734,0.000027,0.040342,423
3,4,Antapani Tengah,0.645526,0.000059,0.161542,2039
4,5,Antapani Wetan,0.513682,0.000052,0.112463,1333
...,...,...,...,...,...,...
146,147,Sukawarna,0.411171,0.000043,0.318415,2909
147,148,Taman Sari,0.403639,0.000056,0.190175,1681
148,149,Turangga,0.701022,0.000081,0.569561,3464
149,150,Warung Muncang,0.201074,0.000029,0.234229,3307
150,151,Wates,0.132550,0.000015,0.048606,723

In [5]:
kolom_hapus = ['OBJECTID','Shape_Length', 'Shape_Area','sum_Area_SQUAREKILOMETERS']
df_residen.drop(kolom_hapus, axis=1, inplace=True)

In [6]:
df_residen.rename(columns={'SNI2014': 'kelurahan', 'Polygon_Count': 'jml_b_permukiman'}, inplace=True)

In [7]:
merged_permukiman = df_kelurahan.merge(df_residen, on='kelurahan', how='left')
merged_permukiman

,OBJECTID,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,34.0,95,18493,2749
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,259.0,140,19991,2799
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,210.0,123,18877,2890
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,39.0,52,10617,1926
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,980.0,579,13277,630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,11.0,16,16969,3286
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,4.0,5,20705,2750
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,18.0,29,17112,2461
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,4.0,8,17767,3266
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,2.0,2,9209,2903

In [8]:
# import data
df_taman = pd.read_excel('../data/taman_kelurahan.xlsx')
df_taman

/home/peminumyakult/anaconda3/envs/suapp/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

     OBJECTID       kelurahan  jumlah_taman
0           1         Campaka           NaN
1           2         Ciroyom           NaN
2           3  Dungus Cariang           NaN
3           4          Garuda           NaN
4           5     Kebon Jeruk           NaN
..        ...             ...           ...
146       147       Cigending           1.0
147       148    Pasanggrahan           NaN
148       149     Pasir Endah           NaN
149       150     Pasir Wangi           1.0
150       151       Pasirjati           NaN

[151 rows x 3 columns]

In [9]:
df_taman['jumlah_taman'] = df_taman['jumlah_taman'].fillna(0)

In [10]:
merged_taman = merged_permukiman.merge(df_taman, on='kelurahan', how='left')
merged_taman

,OBJECTID_x,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,OBJECTID_y,jumlah_taman
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,34.0,95,18493,2749,1,0.0
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,259.0,140,19991,2799,2,0.0
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,210.0,123,18877,2890,3,0.0
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,39.0,52,10617,1926,4,0.0
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,980.0,579,13277,630,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,11.0,16,16969,3286,147,1.0
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,4.0,5,20705,2750,148,0.0
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,18.0,29,17112,2461,149,0.0
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,4.0,8,17767,3266,150,1.0
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,2.0,2,9209,2903,151,0.0

In [11]:
# import data
df_kantor = pd.read_excel('../data/kantor_kelurahan.xlsx')
df_kantor

     OBJECTID       kelurahan  jumlah_kantor
0           1         Campaka            2.0
1           2         Ciroyom            2.0
2           3  Dungus Cariang            3.0
3           4          Garuda            7.0
4           5     Kebon Jeruk            2.0
..        ...             ...            ...
146       147       Cigending            3.0
147       148    Pasanggrahan            7.0
148       149     Pasir Endah            4.0
149       150     Pasir Wangi            3.0
150       151       Pasirjati            1.0

[151 rows x 3 columns]

In [12]:
merged_kel = merged_taman.merge(df_kantor, on='kelurahan', how='left')
merged_kel

,OBJECTID_x,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,...,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,OBJECTID_y,jumlah_taman,OBJECTID,jumlah_kantor
0,1,Campaka,0,3,3,11,0,2,1,0,...,0,16,34.0,95,18493,2749,1,0.0,1,2.0
1,2,Ciroyom,2,5,6,5,0,1,1,1,...,0,17,259.0,140,19991,2799,2,0.0,2,2.0
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,...,0,28,210.0,123,18877,2890,3,0.0,3,3.0
3,4,Garuda,0,5,2,8,0,2,0,2,...,0,18,39.0,52,10617,1926,4,0.0,4,7.0
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,...,1,50,980.0,579,13277,630,5,0.0,5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,...,0,46,11.0,16,16969,3286,147,1.0,147,3.0
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,...,0,47,4.0,5,20705,2750,148,0.0,148,7.0
148,149,Pasir Endah,0,2,1,2,0,0,0,0,...,0,71,18.0,29,17112,2461,149,0.0,149,4.0
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,...,0,60,4.0,8,17767,3266,150,1.0,150,3.0
150,151,Pasirjati,0,2,1,0,0,0,0,0,...,0,23,2.0,2,9209,2903,151,0.0,151,1.0

In [13]:
# sheet id dataset
sheet_id = "1IDCfbq1lFBNLfQuYbaPWojgxcXP7AEu6"
sheet_name = "TRAFFIC"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df_traffic = pd.read_csv(url)
df_traffic.head()

,ID_Origin,Origin,ID_Destination,Destination,duration,distanceMeters
0,1,Campaka,1,Campaka,0,0
1,1,Campaka,2,Ciroyom,641,4040
2,1,Campaka,3,Dungus Cariang,524,3212
3,1,Campaka,4,Garuda,586,2918
4,1,Campaka,5,Kebon Jeruk,913,5332

In [14]:
gr_dest = df_traffic.groupby(["ID_Destination", "Destination"])["duration"].mean().reset_index()

In [15]:
merged_kel = merged_kel.merge(gr_dest, left_on='kelurahan', right_on="Destination", how='left')
merged_kel

,OBJECTID_x,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,...,jumlah_dropoff,populasi,jml_b_permukiman,OBJECTID_y,jumlah_taman,OBJECTID,jumlah_kantor,ID_Destination,Destination,duration
0,1,Campaka,0,3,3,11,0,2,1,0,...,95,18493,2749,1,0.0,1,2.0,1,Campaka,1887.549669
1,2,Ciroyom,2,5,6,5,0,1,1,1,...,140,19991,2799,2,0.0,2,2.0,2,Ciroyom,1363.099338
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,...,123,18877,2890,3,0.0,3,3.0,3,Dungus Cariang,1441.622517
3,4,Garuda,0,5,2,8,0,2,0,2,...,52,10617,1926,4,0.0,4,7.0,4,Garuda,1430.721854
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,...,579,13277,630,5,0.0,5,2.0,5,Kebon Jeruk,1241.993377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,...,16,16969,3286,147,1.0,147,3.0,147,Cigending,1892.894040
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,...,5,20705,2750,148,0.0,148,7.0,148,Pasanggrahan,2277.450331
148,149,Pasir Endah,0,2,1,2,0,0,0,0,...,29,17112,2461,149,0.0,149,4.0,149,Pasir Endah,1894.198675
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,...,8,17767,3266,150,1.0,150,3.0,150,Pasir Wangi,2196.920530
150,151,Pasirjati,0,2,1,0,0,0,0,0,...,2,9209,2903,151,0.0,151,1.0,151,Pasirjati,2362.735099

In [16]:
merged_kel[merged_kel["duration"].isnull()]

Empty DataFrame
Columns: [OBJECTID_x, kelurahan, jumlah_pasar, jumlah_sd, jumlah_smp, jumlah_sma, jumlah_pt, jumlah_halte, jumlah_stasiun, jumlah_terminal, jumlah_hotel, jumlah_mall, jumlah_ofm, jumlah_pickup, jumlah_dropoff, populasi, jml_b_permukiman, OBJECTID_y, jumlah_taman, OBJECTID, jumlah_kantor, ID_Destination, Destination, duration]
Index: []

[0 rows x 24 columns]

In [17]:
kolom_hapus = ['ID_Destination','Destination']
merged_kel.drop(kolom_hapus, axis=1, inplace=True)

In [18]:
merged_kel

,OBJECTID_x,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,...,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,OBJECTID_y,jumlah_taman,OBJECTID,jumlah_kantor,duration
0,1,Campaka,0,3,3,11,0,2,1,0,...,16,34.0,95,18493,2749,1,0.0,1,2.0,1887.549669
1,2,Ciroyom,2,5,6,5,0,1,1,1,...,17,259.0,140,19991,2799,2,0.0,2,2.0,1363.099338
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,...,28,210.0,123,18877,2890,3,0.0,3,3.0,1441.622517
3,4,Garuda,0,5,2,8,0,2,0,2,...,18,39.0,52,10617,1926,4,0.0,4,7.0,1430.721854
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,...,50,980.0,579,13277,630,5,0.0,5,2.0,1241.993377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,...,46,11.0,16,16969,3286,147,1.0,147,3.0,1892.894040
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,...,47,4.0,5,20705,2750,148,0.0,148,7.0,2277.450331
148,149,Pasir Endah,0,2,1,2,0,0,0,0,...,71,18.0,29,17112,2461,149,0.0,149,4.0,1894.198675
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,...,60,4.0,8,17767,3266,150,1.0,150,3.0,2196.920530
150,151,Pasirjati,0,2,1,0,0,0,0,0,...,23,2.0,2,9209,2903,151,0.0,151,1.0,2362.735099

In [19]:
merged_kel.columns

Index(['OBJECTID_x', 'kelurahan', 'jumlah_pasar', 'jumlah_sd', 'jumlah_smp',
       'jumlah_sma', 'jumlah_pt', 'jumlah_halte', 'jumlah_stasiun',
       'jumlah_terminal', 'jumlah_hotel', 'jumlah_mall', 'jumlah_ofm',
       'jumlah_pickup', 'jumlah_dropoff', 'populasi', 'jml_b_permukiman',
       'OBJECTID_y', 'jumlah_taman', 'OBJECTID', 'jumlah_kantor', 'duration'],
      dtype='object')

In [20]:
kolom_hapus = ['OBJECTID','OBJECTID_y']
merged_kel.drop(kolom_hapus, axis=1, inplace=True)

In [21]:
merged_kel.rename(columns={'OBJECTID_x': 'KODE', 'duration': 'avg_duration'}, inplace=True)

In [22]:
merged_kel.to_excel("../data/merged_kel.xlsx")

In [23]:
merged_kel

,KODE,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,34.0,95,18493,2749,0.0,2.0,1887.549669
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,259.0,140,19991,2799,0.0,2.0,1363.099338
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,210.0,123,18877,2890,0.0,3.0,1441.622517
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,39.0,52,10617,1926,0.0,7.0,1430.721854
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,980.0,579,13277,630,0.0,2.0,1241.993377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,11.0,16,16969,3286,1.0,3.0,1892.894040
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,4.0,5,20705,2750,0.0,7.0,2277.450331
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,18.0,29,17112,2461,0.0,4.0,1894.198675
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,4.0,8,17767,3266,1.0,3.0,2196.920530
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,2.0,2,9209,2903,0.0,1.0,2362.735099

In [24]:
# import data
df_pickup = pd.read_excel('../data/pickup_on_kelurahan.xlsx')
df_pickup

/home/peminumyakult/anaconda3/envs/suapp/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,OBJECTID,Join_Count,TARGET_FID,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lokasi_jemput,...,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak,kelurahan
0,2,1,2,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,Jl. Dakota 28 Sukaraja Cicendo Bandung,...,-6.904878,107.579212,2023-05-08 11:51:00,1.89,7200.0,150.0,Dompet,6.880,4.990,Sukaraja
1,3,1,3,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,"Jl. Terusan Jakarta No.6, Babakan Surabaya, Ke...",...,-6.937207,107.690535,2023-05-11 19:26:00,4.71,12000.0,150.0,Tunai,9.698,4.988,Babakan Surabaya
2,4,1,4,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,GF- Outdoor JL Ciumbuleuit No 147. He...,...,-6.859268,107.600874,2023-05-02 19:37:00,2.36,8800.0,150.0,Dompet,7.347,4.987,Hegarmanah
3,5,1,5,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,"jl dipatiukur no 107, lebakgede",...,-6.931904,107.627052,2023-05-14 08:09:00,1.99,8000.0,150.0,Dompet,6.972,4.982,Lebak Gede
4,7,1,7,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,"Jl Padasuka No. 69, Pasirlayung, Cibeunying Kidul",...,-6.897393,107.652105,2023-05-12 07:45:00,1.63,7200.0,150.0,Dompet,6.606,4.976,Cisaranten Endah
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24817,27407,1,27407,28472,NaN,ronysuryap@gmail.com,NaT,Kurir Barang,2023-05-13 19:24:00,"Jl. Ibrahim Adjie No.91, Babakan Surabaya, Kec...",...,-6.907910,107.639023,2023-05-13 19:30:00,2.48,8000.0,150.0,Dompet,2.480,0.000,Babakan Surabaya
24818,27410,1,27410,19699,8.180985e+10,wahyusuherman765@gmail.com,NaT,Ride,2023-05-02 07:03:00,"Jl. Kembang Sepatu, Jawa Barat 4026",...,-6.922968,107.614584,2023-05-02 07:14:00,1.47,8000.0,150.0,Dompet,1.990,0.520,Samoja
24819,27411,1,27411,14728,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 17:46:00,Jl. Purwakarta no 68 Komplek ruko blok VII Kav...,...,-6.907261,107.654720,2023-05-06 18:03:00,1.50,7200.0,150.0,Dompet,1.725,0.225,Babakan Surabaya
24820,27412,1,27412,14731,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 13:42:00,Jl. Purwakarta no 68 Komplek ruko blok VII Kav...,...,-6.917107,107.632746,2023-05-06 14:14:00,3.29,9200.0,150.0,Dompet,3.447,0.157,Babakan Surabaya
24821,27413,1,27413,28959,NaN,NaN,NaT,Ride,2023-05-12 22:56:00,"JI. Soekarno Hatta No. 482 Kavl, Batu",...,-6.959347,107.623094,2023-05-12 23:07:00,1.93,8000.0,150.0,Tunai,3.157,1.227,Cijagra

In [25]:
df_pickup = df_pickup.drop(columns=['OBJECTID', 'Join_Count', 'TARGET_FID', 'lokasi_tujuan', 'lokasi_jemput'])

In [26]:
df_pickup

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak,kelurahan
0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,107.579212,2023-05-08 11:51:00,1.89,7200.0,150.0,Dompet,6.880,4.990,Sukaraja
1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,107.690535,2023-05-11 19:26:00,4.71,12000.0,150.0,Tunai,9.698,4.988,Babakan Surabaya
2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,107.600874,2023-05-02 19:37:00,2.36,8800.0,150.0,Dompet,7.347,4.987,Hegarmanah
3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,107.627052,2023-05-14 08:09:00,1.99,8000.0,150.0,Dompet,6.972,4.982,Lebak Gede
4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,107.652105,2023-05-12 07:45:00,1.63,7200.0,150.0,Dompet,6.606,4.976,Cisaranten Endah
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24817,28472,NaN,ronysuryap@gmail.com,NaT,Kurir Barang,2023-05-13 19:24:00,-6.914665,107.643947,-6.907910,107.639023,2023-05-13 19:30:00,2.48,8000.0,150.0,Dompet,2.480,0.000,Babakan Surabaya
24818,19699,8.180985e+10,wahyusuherman765@gmail.com,NaT,Ride,2023-05-02 07:03:00,-6.919313,107.625331,-6.922968,107.614584,2023-05-02 07:14:00,1.47,8000.0,150.0,Dompet,1.990,0.520,Samoja
24819,14728,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 17:46:00,-6.915556,107.650738,-6.907261,107.654720,2023-05-06 18:03:00,1.50,7200.0,150.0,Dompet,1.725,0.225,Babakan Surabaya
24820,14731,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 13:42:00,-6.915556,107.650738,-6.917107,107.632746,2023-05-06 14:14:00,3.29,9200.0,150.0,Dompet,3.447,0.157,Babakan Surabaya
24821,28959,NaN,NaN,NaT,Ride,2023-05-12 22:56:00,-6.948602,107.630651,-6.959347,107.623094,2023-05-12 23:07:00,1.93,8000.0,150.0,Tunai,3.157,1.227,Cijagra

In [27]:
import numpy as np
df_pickup = df_pickup.replace('-', np.nan)

Dipisah berdasarkan ketersediaan datanya

In [28]:
df_pickup_email = df_pickup[~df_pickup['email'].isna()]

In [29]:
df_pickup_email.shape

(23016, 18)

In [30]:
df_pickup_email['email'].nunique()

201

In [31]:
df_pickup_email.to_excel("../data/pickup_email.xlsx")

In [32]:
df_pickup_non_email = df_pickup[df_pickup['email'].isna()]

In [33]:
df_pickup_non_email.shape

(1806, 18)

In [34]:
24822 - 23016

1806

In [35]:
df_pickup_telp = df_pickup_non_email[~df_pickup_non_email['id_telp'].isna()]

In [36]:
df_pickup_telp.shape

(1560, 18)

In [37]:
df_pickup_telp.to_excel("../data/pickup_telp.xlsx")

In [38]:
df_pickup_telp = pd.read_excel("../data/pickup_telp.xlsx")

In [39]:
df_pickup_telp

,Unnamed: 0,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak,kelurahan
0,31,16218,82217785968,NaN,2023-05-08,Ride,2023-05-08 08:53:00,-6.878953,107.614619,-6.868551,107.585837,2023-05-08 09:00:00,2.02,8000,150,Dompet,6.871,4.851,Dago
1,41,17218,82119984041,NaN,2023-05-05,Food,2023-05-05 15:45:00,-6.931150,107.705762,-6.897216,107.646688,2023-05-05 16:18:00,5.19,11200,150,Dompet,9.992,4.802,Cipadung Wetan
2,56,16544,81214625369,NaN,2023-05-09,Ride,2023-05-09 12:06:00,-6.865606,107.592818,-6.872015,107.546128,2023-05-09 12:21:00,3.02,8000,150,Tunai,7.769,4.749,Gegerkalong
3,122,17227,82119984053,NaN,2023-05-11,Kurir Barang,2023-05-11 10:46:00,-6.902625,107.646965,-6.846666,107.554023,2023-05-11 11:27:00,16.06,33300,150,Dompet,20.603,4.543,Padasuka
4,199,16621,81214625447,NaN,2023-05-13,Ride,2023-05-13 19:32:00,-6.917464,107.619123,-6.908566,107.610800,2023-05-13 19:54:00,6.16,14800,150,Dompet,1.847,4.313,Kebon Pisang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,24794,17229,82119984055,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,2023-05-11 14:05:00,0.63,7200,150,Dompet,0.630,0.000,Citarum
1556,24797,17676,81214907534,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,2023-05-07 10:38:00,1.79,7200,150,Dompet,1.790,0.000,Citarum
1557,24798,18050,87722117745,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,2023-05-02 15:58:00,9.80,21600,150,Dompet,9.800,0.000,Citarum
1558,24799,18092,87722117745,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,2023-05-12 13:53:00,5.64,13600,150,Dompet,5.640,0.000,Cipaganti
1559,24804,20263,81224162709,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,2023-05-03 15:19:00,1.25,7200,150,Dompet,1.250,0.000,Sekeloa

In [40]:
kolom_hapus = ['Unnamed: 0']
df_pickup_telp.drop(kolom_hapus, axis=1, inplace=True)

In [41]:
df_pickup_telp.head()

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak,kelurahan
0,16218,82217785968,NaN,2023-05-08,Ride,2023-05-08 08:53:00,-6.878953,107.614619,-6.868551,107.585837,2023-05-08 09:00:00,2.02,8000,150,Dompet,6.871,4.851,Dago
1,17218,82119984041,NaN,2023-05-05,Food,2023-05-05 15:45:00,-6.931150,107.705762,-6.897216,107.646688,2023-05-05 16:18:00,5.19,11200,150,Dompet,9.992,4.802,Cipadung Wetan
2,16544,81214625369,NaN,2023-05-09,Ride,2023-05-09 12:06:00,-6.865606,107.592818,-6.872015,107.546128,2023-05-09 12:21:00,3.02,8000,150,Tunai,7.769,4.749,Gegerkalong
3,17227,82119984053,NaN,2023-05-11,Kurir Barang,2023-05-11 10:46:00,-6.902625,107.646965,-6.846666,107.554023,2023-05-11 11:27:00,16.06,33300,150,Dompet,20.603,4.543,Padasuka
4,16621,81214625447,NaN,2023-05-13,Ride,2023-05-13 19:32:00,-6.917464,107.619123,-6.908566,107.610800,2023-05-13 19:54:00,6.16,14800,150,Dompet,1.847,4.313,Kebon Pisang

In [42]:
df_pickup_telp['id_telp'].nunique()

430

In [43]:
df_pickup_telp

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,datetime_selesai,jarak,pendapatan_bersih,poin_tambahan,jenis_pembayaran,jarak_jemput_tujuan,perbedaan_jarak,kelurahan
0,16218,82217785968,NaN,2023-05-08,Ride,2023-05-08 08:53:00,-6.878953,107.614619,-6.868551,107.585837,2023-05-08 09:00:00,2.02,8000,150,Dompet,6.871,4.851,Dago
1,17218,82119984041,NaN,2023-05-05,Food,2023-05-05 15:45:00,-6.931150,107.705762,-6.897216,107.646688,2023-05-05 16:18:00,5.19,11200,150,Dompet,9.992,4.802,Cipadung Wetan
2,16544,81214625369,NaN,2023-05-09,Ride,2023-05-09 12:06:00,-6.865606,107.592818,-6.872015,107.546128,2023-05-09 12:21:00,3.02,8000,150,Tunai,7.769,4.749,Gegerkalong
3,17227,82119984053,NaN,2023-05-11,Kurir Barang,2023-05-11 10:46:00,-6.902625,107.646965,-6.846666,107.554023,2023-05-11 11:27:00,16.06,33300,150,Dompet,20.603,4.543,Padasuka
4,16621,81214625447,NaN,2023-05-13,Ride,2023-05-13 19:32:00,-6.917464,107.619123,-6.908566,107.610800,2023-05-13 19:54:00,6.16,14800,150,Dompet,1.847,4.313,Kebon Pisang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,17229,82119984055,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,2023-05-11 14:05:00,0.63,7200,150,Dompet,0.630,0.000,Citarum
1556,17676,81214907534,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,2023-05-07 10:38:00,1.79,7200,150,Dompet,1.790,0.000,Citarum
1557,18050,87722117745,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,2023-05-02 15:58:00,9.80,21600,150,Dompet,9.800,0.000,Citarum
1558,18092,87722117745,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,2023-05-12 13:53:00,5.64,13600,150,Dompet,5.640,0.000,Cipaganti
1559,20263,81224162709,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,2023-05-03 15:19:00,1.25,7200,150,Dompet,1.250,0.000,Sekeloa

In [44]:
df_pickup_none = df_pickup_non_email[df_pickup_non_email['id_telp'].isna()]

In [45]:
df_pickup_none.shape

(246, 18)

In [47]:
# import data
df_driver = pd.read_csv('../../datasets/dataset_kuesioner.csv')
df_driver

,email,nama,id,peta_potensi,rentang_sibukpagi,sibukpagi_permukiman,sibukpagi_perkantoran,sibukpagi_sekolah,sibukpagi_merchant,sibukpagi_transport,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,tamiyandra007@gmail.com,Tami,082123455265,2,06:00-08:00,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,...,Rp10.000.000-Rp10.999.999,Wirausahawan,"Gojek, Indriver",8-10 jam,Pribadi,3-5 tahun,Tidak,Marissa (Icha),False,data transaksi sedikit
1,agungawan73@gmail.com,Agung kurniawan,089606390003,5,07:00-09:00,Netral,Netral,Penting,Penting,Penting,...,Rp10.000.000-Rp10.999.999,Mahasiswa,"Gojek, Grab, Maxim, Indriver, Shopee Food",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Marissa (Icha),False,bukan gojek
2,ndralapulga10@gmail.com,Hendra permadhi,081313750551,5,06:00-08:00,Sangat penting,Penting,Netral,Penting,Netral,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Andina,True,NaN
3,bebenbeni987@gmail.com,Beben beni,0895412035585,5,06:00-09:00,Netral,Penting,Penting,Penting,Penting,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Raihan (WW),True,goride aja
4,wahyusuherman765@gmail.com,Wahyu Suherman,081809846563,5,06:00-09:00,Sangat penting,Tidak penting,Netral,Tidak penting,Sangat penting,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Ele,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,erikwijaya028@gmail.com,muhamad erik wijaya,085659005297,3,06:00-08:00,Penting,Penting,Penting,Netral,Netral,...,Rp1.000.000-Rp.1.999.999,Karyawan Swasta (Full-time),Gojek,4-6 jam,Pribadi,5-7 tahun,Tidak,Raihan (WW),True,NaN
240,salman.afifprawira160299@gmail.com,Salman Afif Prawira,081214678152,3,06:00-09:00,Sangat penting,Netral,Netral,Netral,Penting,...,Rp5.000.000-Rp5.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Aisha (Ica),True,NaN
241,tidakberkenan@gmail.com,Soni,0895420715010,3,06:00-09:00,Penting,Penting,Penting,Penting,Penting,...,Rp12.000.000-Rp12.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,1-3 tahun,Ya,Marissa (Icha),True,NaN
242,andridadoo@gmail.com,Andri kurniawan,081809580955,3,06:00-10:00,Sangat penting,Sangat penting,Sangat penting,Sangat penting,Sangat penting,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,6-8 jam,Pribadi,5-7 tahun,Tidak,Marissa (Icha),True,NaN
243,sifrangeline@gmail.com,Romadona,081394949455,2,NaN,Netral,Tidak penting,Tidak penting,Tidak penting,Tidak penting,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Sifra,True,NaN

In [48]:
# convert id to integer
df_driver['id'] = df_driver['id'].str.replace(r'\D', '', regex=True)
df_driver['id'] = pd.to_numeric(df_driver['id'], errors='coerce', downcast='integer')

In [49]:
df_driver

,email,nama,id,peta_potensi,rentang_sibukpagi,sibukpagi_permukiman,sibukpagi_perkantoran,sibukpagi_sekolah,sibukpagi_merchant,sibukpagi_transport,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,tamiyandra007@gmail.com,Tami,82123455265,2,06:00-08:00,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,Sangat tidak penting,...,Rp10.000.000-Rp10.999.999,Wirausahawan,"Gojek, Indriver",8-10 jam,Pribadi,3-5 tahun,Tidak,Marissa (Icha),False,data transaksi sedikit
1,agungawan73@gmail.com,Agung kurniawan,89606390003,5,07:00-09:00,Netral,Netral,Penting,Penting,Penting,...,Rp10.000.000-Rp10.999.999,Mahasiswa,"Gojek, Grab, Maxim, Indriver, Shopee Food",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Marissa (Icha),False,bukan gojek
2,ndralapulga10@gmail.com,Hendra permadhi,81313750551,5,06:00-08:00,Sangat penting,Penting,Netral,Penting,Netral,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Andina,True,NaN
3,bebenbeni987@gmail.com,Beben beni,895412035585,5,06:00-09:00,Netral,Penting,Penting,Penting,Penting,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Raihan (WW),True,goride aja
4,wahyusuherman765@gmail.com,Wahyu Suherman,81809846563,5,06:00-09:00,Sangat penting,Tidak penting,Netral,Tidak penting,Sangat penting,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Ele,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,erikwijaya028@gmail.com,muhamad erik wijaya,85659005297,3,06:00-08:00,Penting,Penting,Penting,Netral,Netral,...,Rp1.000.000-Rp.1.999.999,Karyawan Swasta (Full-time),Gojek,4-6 jam,Pribadi,5-7 tahun,Tidak,Raihan (WW),True,NaN
240,salman.afifprawira160299@gmail.com,Salman Afif Prawira,81214678152,3,06:00-09:00,Sangat penting,Netral,Netral,Netral,Penting,...,Rp5.000.000-Rp5.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Aisha (Ica),True,NaN
241,tidakberkenan@gmail.com,Soni,895420715010,3,06:00-09:00,Penting,Penting,Penting,Penting,Penting,...,Rp12.000.000-Rp12.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,1-3 tahun,Ya,Marissa (Icha),True,NaN
242,andridadoo@gmail.com,Andri kurniawan,81809580955,3,06:00-10:00,Sangat penting,Sangat penting,Sangat penting,Sangat penting,Sangat penting,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,6-8 jam,Pribadi,5-7 tahun,Tidak,Marissa (Icha),True,NaN
243,sifrangeline@gmail.com,Romadona,81394949455,2,NaN,Netral,Tidak penting,Tidak penting,Tidak penting,Tidak penting,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Sifra,True,NaN

Merged by email

In [50]:
merged_email = df_pickup_email.merge(df_driver, on='email', how='left')
merged_email

,id_x,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,107.579212,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Diva,True,NaN
1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,107.690535,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN
2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,107.600874,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Cicilan,3-5 tahun,Tidak,Diva,True,NaN
3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,107.627052,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Ima,True,NaN
4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,107.652105,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,1-3 tahun,Tidak,Difa,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23011,27842,NaN,supratmanagus44@gamil.com,NaT,Kurir Barang,2023-05-05 11:15:00,-6.937465,107.607655,-6.944946,107.598898,...,Rp5.000.000-Rp5.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Bintang,True,NaN
23012,28472,NaN,ronysuryap@gmail.com,NaT,Kurir Barang,2023-05-13 19:24:00,-6.914665,107.643947,-6.907910,107.639023,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,kredit,3-5 tahun,Tidak,Bintang,True,NaN
23013,19699,8.180985e+10,wahyusuherman765@gmail.com,NaT,Ride,2023-05-02 07:03:00,-6.919313,107.625331,-6.922968,107.614584,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Ele,True,NaN
23014,14728,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 17:46:00,-6.915556,107.650738,-6.907261,107.654720,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN
23015,14731,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 13:42:00,-6.915556,107.650738,-6.917107,107.632746,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN

In [51]:
merged_email.shape

(23016, 125)

In [52]:
df_pickup_email["email"].nunique()

201

In [53]:
merged_email["email"].nunique()

201

In [54]:
merged_email.drop('id_y', axis=1, inplace=True)
merged_email.rename(columns={'id_x': 'id'}, inplace=True)

In [55]:
merged_email

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,107.579212,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Diva,True,NaN
1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,107.690535,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN
2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,107.600874,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Cicilan,3-5 tahun,Tidak,Diva,True,NaN
3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,107.627052,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Ima,True,NaN
4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,107.652105,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,1-3 tahun,Tidak,Difa,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23011,27842,NaN,supratmanagus44@gamil.com,NaT,Kurir Barang,2023-05-05 11:15:00,-6.937465,107.607655,-6.944946,107.598898,...,Rp5.000.000-Rp5.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,3-5 tahun,Tidak,Bintang,True,NaN
23012,28472,NaN,ronysuryap@gmail.com,NaT,Kurir Barang,2023-05-13 19:24:00,-6.914665,107.643947,-6.907910,107.639023,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,kredit,3-5 tahun,Tidak,Bintang,True,NaN
23013,19699,8.180985e+10,wahyusuherman765@gmail.com,NaT,Ride,2023-05-02 07:03:00,-6.919313,107.625331,-6.922968,107.614584,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Ele,True,NaN
23014,14728,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 17:46:00,-6.915556,107.650738,-6.907261,107.654720,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN
23015,14731,8.129765e+10,mrayfan17@gmail.com,NaT,Food,2023-05-06 13:42:00,-6.915556,107.650738,-6.917107,107.632746,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN

In [56]:
merged_telp = df_pickup_telp.merge(df_driver, left_on='id_telp', right_on='id', how='left')
merged_telp

,id_x,id_telp,email_x,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,16218,82217785968,NaN,2023-05-08,Ride,2023-05-08 08:53:00,-6.878953,107.614619,-6.868551,107.585837,...,Di bawah Rp1.000.000,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ima,True,NaN
1,17218,82119984041,NaN,2023-05-05,Food,2023-05-05 15:45:00,-6.931150,107.705762,-6.897216,107.646688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16544,81214625369,NaN,2023-05-09,Ride,2023-05-09 12:06:00,-6.865606,107.592818,-6.872015,107.546128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17227,82119984053,NaN,2023-05-11,Kurir Barang,2023-05-11 10:46:00,-6.902625,107.646965,-6.846666,107.554023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16621,81214625447,NaN,2023-05-13,Ride,2023-05-13 19:32:00,-6.917464,107.619123,-6.908566,107.610800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,17229,82119984055,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,17676,81214907534,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,4-6 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1557,18050,87722117745,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1558,18092,87722117745,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1559,20263,81224162709,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,...,Rp7.000.000-Rp7.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Irul,True,NaN

In [57]:
temp = merged_telp[['id_telp', 'id_y']]

In [58]:
merged_telp["id_telp"].nunique()

430

In [59]:
merged_telp["id_y"].nunique()

13

In [60]:
merged_telp.shape

(1560, 126)

In [61]:
kolom_hapus = ['email_y', 'id_y']
merged_telp.drop(kolom_hapus, axis=1, inplace=True)
kolom_baru = {'id_x': 'id', 'email_x': 'email'}
merged_telp.rename(columns=kolom_baru, inplace=True)

In [62]:
merged_telp

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,16218,82217785968,NaN,2023-05-08,Ride,2023-05-08 08:53:00,-6.878953,107.614619,-6.868551,107.585837,...,Di bawah Rp1.000.000,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ima,True,NaN
1,17218,82119984041,NaN,2023-05-05,Food,2023-05-05 15:45:00,-6.931150,107.705762,-6.897216,107.646688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16544,81214625369,NaN,2023-05-09,Ride,2023-05-09 12:06:00,-6.865606,107.592818,-6.872015,107.546128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17227,82119984053,NaN,2023-05-11,Kurir Barang,2023-05-11 10:46:00,-6.902625,107.646965,-6.846666,107.554023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16621,81214625447,NaN,2023-05-13,Ride,2023-05-13 19:32:00,-6.917464,107.619123,-6.908566,107.610800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,17229,82119984055,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,17676,81214907534,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,4-6 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1557,18050,87722117745,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1558,18092,87722117745,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
1559,20263,81224162709,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,...,Rp7.000.000-Rp7.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Irul,True,NaN

In [63]:
# concat
sosdem = pd.concat([merged_email, merged_telp], ignore_index=True)

In [64]:
sosdem

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,penghasilan_keluarga,pekerjaan_selain,platform,rata_jam_online,status_kendaraan,lama_driver,ojek_konvensional,surveyor,for_spacetime,keterangan
0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,107.579212,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,5-7 tahun,Tidak,Diva,True,NaN
1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,107.690535,...,Rp2.000.000-Rp2.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,3-5 tahun,Tidak,Ghefira,True,NaN
2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,107.600874,...,Rp3.000.000-Rp3.999.999,Tidak ada,Gojek,Di atas 10 jam,Cicilan,3-5 tahun,Tidak,Diva,True,NaN
3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,107.627052,...,Rp5.000.000-Rp5.999.999,Tidak ada,"Gojek, Grab",Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Ima,True,NaN
4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,107.652105,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,1-3 tahun,Tidak,Difa,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24571,17229,8.211998e+10,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24572,17676,8.121491e+10,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,...,Rp1.000.000-Rp.1.999.999,Tidak ada,Gojek,4-6 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
24573,18050,8.772212e+10,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
24574,18092,8.772212e+10,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,...,Rp4.000.000-Rp4.999.999,Tidak ada,Gojek,8-10 jam,Pribadi,5-7 tahun,Tidak,Ima,True,NaN
24575,20263,8.122416e+10,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,...,Rp7.000.000-Rp7.999.999,Tidak ada,Gojek,Di atas 10 jam,Pribadi,7-9 tahun,Tidak,Irul,True,NaN

In [65]:
for_mnl = sosdem.merge(merged_kel, on='kelurahan', how='left')
for_mnl

,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,long_tujuan,...,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration
0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,107.579212,...,7,0,61,397.0,236,23692,3453,0.0,4.0,1912.006623
1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,107.690535,...,0,0,26,145.0,104,20762,2983,0.0,1.0,1369.615894
2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,107.600874,...,14,0,68,262.0,400,20196,2186,1.0,10.0,2028.569536
3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,107.627052,...,9,0,100,1153.0,614,11028,1105,2.0,5.0,1318.596026
4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,107.652105,...,2,0,43,29.0,79,20270,2111,0.0,7.0,1676.966887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24571,17229,8.211998e+10,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,107.618411,...,21,1,163,1972.0,1070,2255,829,3.0,18.0,1188.013245
24572,17676,8.121491e+10,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,107.631871,...,21,1,163,1972.0,1070,2255,829,3.0,18.0,1188.013245
24573,18050,8.772212e+10,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,107.634411,...,21,1,163,1972.0,1070,2255,829,3.0,18.0,1188.013245
24574,18092,8.772212e+10,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,107.580404,...,24,0,49,184.0,256,11681,1754,2.0,1.0,1497.271523
24575,20263,8.122416e+10,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,107.620862,...,2,0,45,539.0,505,26966,3041,0.0,2.0,1561.841060

In [66]:
for_mnl.to_excel("../data/for_mnl.xlsx")

In [67]:
for_mnl = pd.read_excel("../data/for_mnl.xlsx")

In [68]:
for_mnl

,Unnamed: 0,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,...,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration
0,0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,...,7,0,61,397,236,23692,3453,0,4.0,1912.006623
1,1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,...,0,0,26,145,104,20762,2983,0,1.0,1369.615894
2,2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,...,14,0,68,262,400,20196,2186,1,10.0,2028.569536
3,3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,...,9,0,100,1153,614,11028,1105,2,5.0,1318.596026
4,4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,...,2,0,43,29,79,20270,2111,0,7.0,1676.966887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24571,24571,17229,8.211998e+10,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,...,21,1,163,1972,1070,2255,829,3,18.0,1188.013245
24572,24572,17676,8.121491e+10,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,...,21,1,163,1972,1070,2255,829,3,18.0,1188.013245
24573,24573,18050,8.772212e+10,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,...,21,1,163,1972,1070,2255,829,3,18.0,1188.013245
24574,24574,18092,8.772212e+10,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,...,24,0,49,184,256,11681,1754,2,1.0,1497.271523
24575,24575,20263,8.122416e+10,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,...,2,0,45,539,505,26966,3041,0,2.0,1561.841060

In [69]:
merged_kel

,KODE,kelurahan,jumlah_pasar,jumlah_sd,jumlah_smp,jumlah_sma,jumlah_pt,jumlah_halte,jumlah_stasiun,jumlah_terminal,jumlah_hotel,jumlah_mall,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration
0,1,Campaka,0,3,3,11,0,2,1,0,0,0,16,34.0,95,18493,2749,0.0,2.0,1887.549669
1,2,Ciroyom,2,5,6,5,0,1,1,1,1,0,17,259.0,140,19991,2799,0.0,2.0,1363.099338
2,3,Dungus Cariang,0,6,3,0,0,2,1,0,1,0,28,210.0,123,18877,2890,0.0,3.0,1441.622517
3,4,Garuda,0,5,2,8,0,2,0,2,0,0,18,39.0,52,10617,1926,0.0,7.0,1430.721854
4,5,Kebon Jeruk,1,4,3,16,0,5,0,0,20,1,50,980.0,579,13277,630,0.0,2.0,1241.993377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Cigending,0,3,4,0,0,0,0,0,1,0,46,11.0,16,16969,3286,1.0,3.0,1892.894040
147,148,Pasanggrahan,0,2,4,0,0,0,0,0,0,0,47,4.0,5,20705,2750,0.0,7.0,2277.450331
148,149,Pasir Endah,0,2,1,2,0,0,0,0,0,0,71,18.0,29,17112,2461,0.0,4.0,1894.198675
149,150,Pasir Wangi,1,0,3,0,0,0,0,1,0,0,60,4.0,8,17767,3266,1.0,3.0,2196.920530
150,151,Pasirjati,0,2,1,0,0,0,0,0,0,0,23,2.0,2,9209,2903,0.0,1.0,2362.735099

In [70]:
just_traffic = merged_kel[['KODE', 'kelurahan', 'avg_duration']]

In [71]:
for_mnl2 = for_mnl.merge(just_traffic, on='kelurahan', how='left')
for_mnl2

,Unnamed: 0,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,...,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration_x,KODE_y,avg_duration_y
0,0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,...,61,397,236,23692,3453,0,4.0,1912.006623,84,1912.006623
1,1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,...,26,145,104,20762,2983,0,1.0,1369.615894,103,1369.615894
2,2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,...,68,262,400,20196,2186,1,10.0,2028.569536,86,2028.569536
3,3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,...,100,1153,614,11028,1105,2,5.0,1318.596026,94,1318.596026
4,4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,...,43,29,79,20270,2111,0,7.0,1676.966887,12,1676.966887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24571,24571,17229,8.211998e+10,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24572,24572,17676,8.121491e+10,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24573,24573,18050,8.772212e+10,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24574,24574,18092,8.772212e+10,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,...,49,184,256,11681,1754,2,1.0,1497.271523,92,1497.271523
24575,24575,20263,8.122416e+10,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,...,45,539,505,26966,3041,0,2.0,1561.841060,97,1561.841060

In [72]:
for_mnl2

,Unnamed: 0,id,id_telp,email,tanggal,jenis_pesanan,datetime_tugas,lat_jemput,long_jemput,lat_tujuan,...,jumlah_ofm,jumlah_pickup,jumlah_dropoff,populasi,jml_b_permukiman,jumlah_taman,jumlah_kantor,avg_duration_x,KODE_y,avg_duration_y
0,0,27243,NaN,deerah60@gmail.com,2023-05-08,Food,2023-05-08 11:23:00,-6.894789,107.569360,-6.904878,...,61,397,236,23692,3453,0,4.0,1912.006623,84,1912.006623
1,1,14783,8.129765e+10,mrayfan17@gmail.com,2023-05-11,Food,2023-05-11 19:06:00,-6.913613,107.645752,-6.937207,...,26,145,104,20762,2983,0,1.0,1369.615894,103,1369.615894
2,2,26411,NaN,daddykurniadi4647@gmail.com,2023-05-02,Food,2023-05-02 19:24:00,-6.875969,107.604215,-6.859268,...,68,262,400,20196,2186,1,10.0,2028.569536,86,2028.569536
3,3,16842,8.122494e+10,amrytaufikblur@gmail.com,2023-05-14,Ride,2023-05-14 08:00:00,-6.885659,107.614298,-6.931904,...,100,1153,614,11028,1105,2,5.0,1318.596026,94,1318.596026
4,4,12944,8.212609e+10,sandisyahroni063@gmail.com,2023-05-12,Food,2023-05-12 07:35:00,-6.926493,107.670617,-6.897393,...,43,29,79,20270,2111,0,7.0,1676.966887,12,1676.966887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24571,24571,17229,8.211998e+10,NaN,NaT,Food,2023-05-11 13:57:00,-6.905460,107.616954,-6.907758,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24572,24572,17676,8.121491e+10,NaN,NaT,Food,2023-05-07 10:23:00,-6.905241,107.621139,-6.912597,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24573,24573,18050,8.772212e+10,NaN,NaT,Food,2023-05-02 15:22:00,-6.906563,107.615883,-6.959246,...,163,1972,1070,2255,829,3,18.0,1188.013245,40,1188.013245
24574,24574,18092,8.772212e+10,NaN,NaT,Food,2023-05-12 13:16:00,-6.892877,107.604334,-6.867258,...,49,184,256,11681,1754,2,1.0,1497.271523,92,1497.271523
24575,24575,20263,8.122416e+10,NaN,NaT,Food,2023-05-03 14:58:00,-6.881218,107.616103,-6.877953,...,45,539,505,26966,3041,0,2.0,1561.841060,97,1561.841060

In [73]:
for_mnl2.to_excel("../data/for_mnl2.xlsx")