In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [5]:
# Load the data
file_path = '../data/only_features.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows of the dataframe
data.head()

,trip_jarak,beh_peta_potensi,sosdem_usia,sosdem_penghasilan_pribadi,sosdem_penghasilan_keluarga,sosdem_pekerjaan_selain,beh_ojek_konvensional,loc_jumlah_pasar,loc_jumlah_ofm,loc_jml_b_permukiman,loc_jumlah_taman,trip_jenis_pesanan_Ride,trip_pickup
0,4.35,3,34,3499999.5,4499999.5,1,0,1,66,1014,0,1,Kebon Pisang
1,12.36,3,34,3499999.5,4499999.5,1,0,1,16,1328,0,1,Pungkur
2,3.21,3,34,3499999.5,4499999.5,1,0,0,44,1419,0,1,Lingkar Selatan
3,2.77,3,34,3499999.5,4499999.5,1,0,0,68,2186,1,0,Hegarmanah
4,5.92,3,34,3499999.5,4499999.5,1,0,1,32,2232,0,0,Arjuna

In [4]:
# Since we are going to assume that every trip_pickup option is available to every individual, 
# we need to create a list of all unique trip_pickup options.
unique_pickups = data['trip_pickup'].unique()

# Now let's take the first individual as an example and create non-chosen alternatives.
# We'll take the first row and replicate it for each unique trip_pickup, changing the trip_pickup and Dipilih flag.

# Taking the first individual's data as an example (assuming the individual is identified by the first unique ID in the data)
individual_data = data.iloc[0]

# Creating a new dataframe to hold the long format data
long_format_data = pd.DataFrame()

# For each unique pickup, we create a new row for the individual
for pickup in unique_pickups:
    # Copy the individual's data
    new_row = individual_data.copy()
    # Change the trip_pickup to the current one
    new_row['trip_pickup'] = pickup
    # Set the 'Dipilih' flag to 0 if this was not the chosen option
    new_row['Dipilih'] = int(pickup == individual_data['trip_pickup'])
    # Append the new row to the long format data
    long_format_data = long_format_data.concat(new_row, ignore_index=True)

long_format_data.head()  # Show the first few rows of the new dataframe

AttributeError: 'DataFrame' object has no attribute 'concat'